
.title-div {
    padding: 50px 20px 20px 20px;
    background-image: url('../../src/images/Bocetos/Colorless.png');
    background-size: cover;
    width: 100%;
    z-index: 0;
    height: 100vh;
}

.title-div h1 {
    font-family: 'Playwrite NZ';
    font-size: 35px;
}

.title-div h2 {
    font-size: 16px;
    font-family: 'Reddit Sans';
    margin-bottom: 40px;
}

.nav-card-container {
    padding: 0 30px 0 30px;
}

@media screen and (min-width: 1130px) {
    .nav-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
        gap: 20px; /* Adjust the gap between grid items as needed */
        justify-items: center; /* Center the grid items horizontally */
        margin: 0 auto; /* Center the container within the page */
    }
}